table
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    background: #fff;
    border-collapse: collapse;
    text-align: left;
}
table th
{
    font-size: 14px;
    font-weight: normal;
    color: #039;
    padding: 10px 8px;
    border-bottom: 2px solid #6678b1;
}
table td
{
    color: #669;
    padding: 9px 8px 0px 8px;
}
table tbody tr:hover td
{
    color: #009;
}